.Project-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.Project-container > h2 {
  margin-bottom: 4rem;
  font-size: 50px;
}

@media only screen and (max-width: 414px) {
  .Project-container > h2 {
    margin-bottom: 2rem;
  }
  .Project-container {
    margin: 4rem 0;
  }
}
